@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-bg: #121212;
  --color-card: #1e1e1e;
  --color-primary: #6366f1;
  --color-primary-hover: #4f46e5;
  --color-success: #10b981;
  --color-success-hover: #059669;
  --color-text: #f3f4f6;
  --color-muted: #9ca3af;
}

@layer base {
  body {
    @apply bg-dark-bg text-dark-text font-sans antialiased;
  }
}
